<h1>Editing aiderSystem</h1>

<%= render 'form' %>

<%= link_to 'Show', angryman_system_aider_systems_path(@aiderSystem.system.angryman, @aiderSystem.system, @aiderSystem) %> |
<%= link_to 'Back', angryman_system_aider_systems_path %>
