

<div>
<h2>angry-man </h2>
<p>
  Everything done to a development task
  Inspired by AIDA: <a href='http://highscalability.com/blog/2013/10/13/aida-badoos-journey-into-continuous-integration.html'>Badoo’s Journey Into Continuous Integration</a>
</p>

<p><%= image_tag("tasks_workflow.png", :alt => "task workflow") %></p>
<div>